@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<img src="~/Content/logo1.png" />
<h4>
    <br />Book Buffet is an application to manage book-reading events.It will allow managing events.
    <br />A book reading event is where book lovers come together for a community reading of their favourite book.
    <br />Happy Reading !
    <br />Happy Sharing !
</h4>
