@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        var val = Request.Cookies["name"].Value;
        <h3><strong>HELLO @val,</strong></h3>
    }

    <h3>WELCOME TO BOOK BUFFET</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>PAST EVENTS</h2>
        @{
            Html.RenderAction("PastEvent", "Event");
        }
    </div>
    <div class="col-md-6">
        <h2>UPCOMING EVENTS</h2>
        @{
            Html.RenderAction("FutureEvent", "Event");
        }
    </div>
</div>