@model dynamic
@{
    ViewBag.Title = "Display";
    Layout = "";

}

<div class="col-md-6">
    <table class="table table-hover" cellspacing="1" cellpadding="1" style="border:hidden">
        <tr>
            <th style="background-color:lightgray">Title</th>
            <th style="background-color:lightgray"> Action</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.FutureEventDTO)
            {
                <tr>
                    <td>
                        @item.EventTitle
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.EventId })

                    </td>
                </tr>
            }

        }

    </table>
</div>

@Scripts.Render("~/Content/style.css")